.faq-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.faq-item {
    padding: 20px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.3s;
    border: 2px solid transparent;
}

.faq-item:hover {
    border: 2px solid var(--green);
    background: transparent;
}

.faq-item h3 {
    margin-bottom: 12px;
    font-size: 1.15rem;
}

.faq-item p {
    line-height: 1.8;
    opacity: 0.9;
}

.mark {
    border: 2px solid var(--green);
    color: var(--green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}